<div class="container-lg">
    <nav class="navbar navbar-expand-lg border-bottom">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
          <h1 class="gray-800 eng-font fw-normal">
            Vivre
          </h1>
        </a>
        <button class="navbar-toggler border-0 " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon icon-24"></span>
        </button>
        <div class="offcanvas offcanvas-end w-100 bg-primary-100" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
     
          <div class="offcanvas-header hamburger-close-btn">
            <button type="button" class="btn-close icon-20 text-reset" data-bs-dismiss="offcanvas"></button>
          </div>
          <div class="offcanvas-body">
            
              <div class="input-group w-100 my-3 ms-lg-6">
                  <label class="text-gray-300 input-group-text ps-4 " for="search">搜尋文章</label>
                  <input type="text" class="form-control py-2 ps-0" id="search" aria-label="Amount (to the nearest dollar)">
                  <a href="#" class="input-group-text pe-2">
                    <i class="bi bi-search text-secondary-200"></i>
                  </a>
                </div>  
                
            
            <ul class="navbar-nav header-links flex-grow-1 justify-content-lg-end align-items-lg-center">
              <li class="nav-item py-lg-0 py-5">
                <a class="px-1" aria-current="page" href="#">所有文章</a>
              </li>
              <li class="nav-item pb-lg-0 pb-5">
                <a class="px-1" href="subscription.html">訂閱方案</a>
              </li>
              <li class="nav-item pb-lg-0 pb-7">
                <a class="px-1" href="#">關於我們</a>
              </li>
              <button class="btn btn-secondary-200 text-white ms-1">登入/註冊</button>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>